
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    background-color: mediumturquoise;
}

body{
   margin: 0%;
}
main{
    margin: 0.4rem;
}

header img{
    width: 70px;
    height: 70px;
    margin-left: 9px;
    border-radius: 50px;
}

article{
    margin-left: 1rem;
    margin-right: 1rem;
}
h1{
    text-align: center;
    color: blue;
}
h5{
  text-align: center; 
  color: orangered; 
  font-size: 29px;
  font-style: italic;
  margin-top: 254px;
}
h4{ 
    text-align: center;
    color: rgb(242, 9, 9);
    font-size: 22px;
}
a{
    text-decoration: none;
    color: inherit;
}
.bordhead{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
.deadbar{
    display: flex;
    text-decoration: none;
    margin-right: 10px;
    color: black;
}
.deadbars{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
.deadbar:hover{
    border-top: 2px solid blue;
    color: blue;
}
.deadbars:hover{
    border-top: 2px solid blue;
    color: blue;
}
.grid{
    display: flex;
    width: 100%;
    height: 56px;
}
.grid img{
    width: 100%;
    height: auto;
    border: 0px;
    vertical-align: middle;
}

.gridImg{
    width: 180px;
    height: 123px;
    padding: 0.5rem;
    margin-bottom: 2rem;
}
footer {
	background-color: #28363D;
	color: white;
	display: flex;
	padding-block: 3em;
	justify-content: space-evenly;
	font-size: 12px;
	align-items: center;
    margin-top: 3rem;
}
footer div {

	position: relative;
}
.footer-logo {
	background-color: white;
	max-width: 308px;
	padding: 10px;
}
.footer-contact {
	margin-bottom: 1em;
	font-weight: 700;
	font-size: 16px;

}

/* les visites */
.restaurants {
    background-color: #fff;
}

.cards {
    display: grid;
    gap: 50px 98px;
    padding: 25px 0 0 0;
}

.card {
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 8px 5px rgba(0,0,0,.07);
    box-shadow: 0px 4px 8px 5px rgba(0,0,0,.07);
    text-decoration: none;
    color: #000;
    position: relative;
}

.cardImage img{  
    width: 100%;
    height: 173px;
    object-fit: cover;
}

.card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 40px 20px 15px;

    
}

@media screen and (min-width : 860px){
 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 98px;
    padding: 25px 0 0 0;
 }
 .cardImage img {
    height: 258px;
 }
}


.card__title {
    font-size: 18px;
    margin: 0 0 5px 0;
}
.card__subtitle {
    font-size: 16px;
    font-weight: 300;
}


/* equipe */

.taill img{
    display: flex;
    width: 40px;
    height: 33px;
}
.bordur img{
    width: 900px;
    height: 82px;
    object-fit: cover;
    border-radius: 0%;
    align-items: center;
    margin: auto;
}

.directionRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.directionRow img{
    display: flex;
    width: 170px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    color: black;
    margin-bottom: 0;
}
h2{
    text-align: center;
}
p {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--drak-grey-color);
}
.whiteContentSection h2,
.whiteContentSection h3,
.whiteContentSection p {
	color:  white;
}

.sectionLinearGradientBackground {
    background-color: rgb(186, 126, 58);
    margin: 0%;
}

/* Activites */

/* autre css */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.slide {
    display: none;
    width: 100%;
    height: 595px; /* ou toute autre hauteur souhaitée */
    line-height: 300px; /* centrer le texte verticalement */
    font-size: 24px;
    object-fit: cover;
    object-position: center;
}

.slide img {
   width: 100%;
   height: 100%;    
}
  
.slide.active {
    display: block;
}

/* services */
#services{
    margin:auto;
    background-color:#A8D5D8;
    position:relative;
}
#services .container::before{
    content:' ';
    background-color:#1C6474;
    position:absolute;
    width:100%;
    height:30%;
    bottom:0;
    left:0;
    z-index:0;
}
#services .container{
    justify-content:space-between;
    display:flex;
    padding: 2em;
}
.service{
    background-color:#fff;
    max-width: 250px;
    width:30%;
    height:337px;
    padding:1em;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    z-index:1;
}

/* footer */

#contact{
    margin:auto;
    background-color:#D8D3A8;
    position:relative;
    padding-inline:100px;
    padding-block:100px;
    margin-top:35px;

}
#contact .container{
    display:flex;
}
.picture.right::before{
    content:' ';
    background-color:#BEB45A;
    width:374px;
    height:329px;
    position:absolute;
    bottom:0;
    right:0;
    z-index:-1;
}

.form-container{
    flex:2;
}
form{
    display:flex;
    flex-direction:column;
    width:70%;
    align-items:flex-start;
}
form input{
    width:100%;
    background-color:transparent;
    border:solid 1px;
    height:2.5em;
    margin-bottom:20px;
}
form textarea{
    width:100%;
    background-color:transparent;
    border:solid 1px;
    height:5em;
    line-height:2.5em;
    font-size:1.2em;
    margin-bottom:20px;
}
input[type="submit"]{
    background-color:#BEB45A;
    padding:.5em 1em;
}
    @media all and (max-width:1180px){
        .picture{flex:2}
        #about,#contact .container{align-items:center}
        .about-me__title{margin-top:0;margin-bottom:1em}
        #about-me h6,#about-me p{width:100%}
    }

    @media all and (max-width:1000px){
        #about{flex-direction:column}
        .picture{width:50%}
        .picture.left::before{width:100%;height:30%;position:absolute;bottom:auto;top:0;left:0;z-index:-1}
        .about-me__title{text-align:center;margin-top:1em}
        #services .container{flex-direction:column}
        .service{width:100%;max-width:100%;height:auto;margin:2em 0}
        .service__description{margin-bottom:1em}
        #services .container::before{width:30%;height:100%;bottom:0;right:0;left:auto;z-index:0}
        #contact .container{flex-direction:column}
        #contact .picture.right{margin-top:1em}
        .picture.right::before{width:100%;height:30%;position:absolute;bottom:0;right:0;z-index:-1}
    }

    @media all and (max-width:650px){
        .top-header{flex-direction:column;padding-inline:0}
        .top-header .nav,.top-header .nav ul{width:100%;padding:0 0 0 0}
        .top-header .nav li{flex:1;padding-block:1em;text-align:center}
        .picture.left::before,.picture.right::before{height:150px}
        #services .container{align-items:center}
        .service{max-width:90%}
        #about,#contact{padding-inline:2em;padding-block:2em}
        form{width:100%}
        .picture{width:80%}
        .image-size{width:100%}
    }



